<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleName</key>
		<string>BaiduPCS-Go</string>
		<key>CFBundleSupportedPlatforms</key>
		<array>
			<string>iPhoneOS</string>
		</array>
		<key>CFBundleExecutable</key>
		<string>BaiduPCS-Go</string>
		<key>CFBundleVersion</key>
		<string>1.0</string>
		<key>CFBundleIdentifier</key>
		<string>com.iikira.baidupcsgo</string>
		<key>LSRequiresIPhoneOS</key>
		<true/>
		<key>CFBundleDisplayName</key>
		<string>BaiduPCS-Go</string>
	</dict>
</plist>